body {
  display: flex;
  background-color: rgb(218, 230, 230);
}
.gallery {
}
ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  gap: 10px;
}

li {
  display: flex;
  flex-basis: 120px;
  border: 5px solid black;
  margin-bottom: 15px;
}

img {
  max-width: 100%;

  height: auto;

  vertical-align: middle;

  padding: 5px;

  object-fit: contain;
}
